@import url(https://fonts.googleapis.com/css?family=Karla);
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300);



.row2 {
  vertical-align: top;
}
.inputWrapper {
    height: 32px;
    width: 180px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: inline-block;
/*    border: 2px solid grey;
    /*Using a background color, but you can use a background image to represent a button*/
    background-color: #cccccc;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.inputWrapper :hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.col {
  margin-top: 60px;
}
.col-1 {
  margin-top: 60px;
}
.col1 {
  margin-left : -43px;
}

.hcol1{
  font-size:35px;
  color:#888;
  font-family:'Karla';
  width:100%;
}
.col-md-4 {
  margin :-10px;
}
.fileInput {
    cursor: pointer;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    font-size:200px;
    /*Opacity settings for all browsers*/
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}
.wrap{
  padding:120px 0;
  font-size:62px;
  color:#888;
  width:400px;
  font-family:'Karla';
  margin:0 auto;
  text-align:center;
}

.logininput{
  font-family:'Ubuntu';
  font-weight:300;
  border:0;
  border-bottom:1px solid #ff5407;
  width:100%;
  height:36px;
  font-size:26px;
}

.logininput:focus{
  outline:none;
  box-shadow:none;
  background:#ffeae2;
}

.gwrap{
  padding:120px 0;
  font-size:20px;
  color:#888;
  width:800px;
  font-family:'Karla';
  margin:0 auto;
  text-align:center;
}
.gwrapforchange{
  font-size:20px;
  color:#888;
  width:800px;
  font-family:'Karla';
  margin:0 auto;
  text-align:center;
}

.glogininput{
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family:'Ubuntu';
  font-weight:300;
  border:0;
  border-bottom:1px solid #ff5407;
  width:400px;
  height:36px;
  font-size:26px;
}

.glogininput:focus{
  outline:none;
  box-shadow:none;
  background:#ffeae2;
}

button{
  border:0;
  background:transparent;
  padding:5px;
  margin-top:50px;
  position:relative;
  outline:0;
  font-size: 25px;
}
.buttonafter:after{
content:'';
display:block;
position:absolute;
top:8px;
left:100%; /*should be set to 100% */
width:0;
height:0;
border-color: transparent transparent transparent #14a03d; /*border color should be same as div div background color*/
border-style: solid;
border-width: 5px;

}

.forgot{
  background:#a0a0a0;
  color:#fff;
  float:left;
}

.login{
  background:#a0a0a0;
  color:#fff;
  float:right;
}


.dropbtn {
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    background:#f2f2f2;
    display: none;
    position: absolute;
    min-width: 100px;
    margin-top: 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}



/*Dashborad*/


.bg-1 {
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}

.bg-2 {
  background-color: black;
    color: #ffffff;
}

.bg-3 {
  background-color: grey;
  color:white;
}


.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
 height: 50px;
}

/*dashboard */




.attendancebtn{
  background:#a0a0a0;
  color:#fff;
  float:center;
}



/*Date Picker*/

.calendar {
   position: absolute;
   width: 280px;
   left: 50%;
   top: 50%;
   margin: -145px 0px 0px -140px;
   background: #fff;
   border-radius: 4px;
   overflow: hidden;
}
 .ui-datepicker-header {
   height: 50px;
   line-height: 50px;
   color: #b0aead;
   background: #e9e5e3;
   margin-bottom: 10px;
}
 .ui-datepicker-prev, .ui-datepicker-next {
   width: 20px;
   height: 20px;
   text-indent: 9999px;
   border: 2px solid #b0aead;
   border-radius: 100%;
   cursor: pointer;
   overflow: hidden;
   margin-top: 12px;
}
 .ui-datepicker-prev {
   float: left;
   margin-left: 12px;
}
 .ui-datepicker-prev:after {
   transform: rotate(45deg);
   margin: -43px 0px 0px 8px;
}
 .ui-datepicker-next {
   float: right;
   margin-right: 12px;
}
 .ui-datepicker-next:after {
   transform: rotate(-135deg);
   margin: -43px 0px 0px 6px;
}
 .ui-datepicker-prev:after, .ui-datepicker-next:after {
   content: '';
   position: absolute;
   display: block;
   width: 4px;
   height: 4px;
   border-left: 2px solid #b0aead;
   border-bottom: 2px solid #b0aead;
}
 .ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-prev:hover:after, .ui-datepicker-next:hover:after {
   border-color: #5ed1cc;
}
 .ui-datepicker-title {
   text-align: center;
}
 .ui-datepicker-calendar {
   width: 100%;
   text-align: center;
}
 .ui-datepicker-calendar thead tr th span {
   display: block;
   width: 40px;
   color: #00a8b2;
   margin-bottom: 5px;
   font-size: 13px;
}
 .ui-state-default {
   display: block;
   text-decoration: none;
   color: #b5b5b5;
   line-height: 40px;
   font-size: 12px;
}
 .ui-state-default:hover {
   background: rgba(0,0,0,0.02);
}
 .ui-state-highlight {
   color: #8dd391;
}
 .ui-state-active {
   color: #5ed1cc;
}
 .ui-datepicker-unselectable .ui-state-default {
   color: #eee;
   border: 2px solid transparent;
}




*, *:before, *:after {
  box-sizing: border-box;
}

.row2 {
  margin-top: 60px;
}
.col1 {
  width : 20px;
}
.col2 {
  width : 400px;
}
.range-slider {
  margin: 0px 0 0 0%;
}
}
.range-slider {
  width: 100%;
}
.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background 0.15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1abc9c;
}
.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}
::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}
input::-moz-focus-inner, input::-moz-focus-outer {
  border: 0;
}




.label--checkbox {
  position: relative;
  margin: .5rem;
  font-family: Arial, sans-serif;
  line-height: 135%;
  cursor: pointer;
}

.checkbox {
  position: relative;
  top: -0.375rem;
  margin: 0 1rem 0 0;
  cursor: pointer;
}
.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #d9d9d9;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}
.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.button--round {
  -webkit-transition: 0.3s background ease-in-out;
  -moz-transition: 0.3s background ease-in-out;
  transition: 0.3s background ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #5677fc;
  border-radius: 50%;
  box-shadow: 0 0.125rem 0.3125rem 0 rgba(0, 0, 0, 0.25);
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.button--round i {
  font-size: 1rem;
  line-height: 220%;
  vertical-align: middle;
}
.button--round:hover {
  background: #3b50ce;
}

.button--sticky {
  position: fixed;
  right: 2rem;
  top: 16rem;
}

.content {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: slideUp;
  animation-name: slideUp;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(6.25rem);
    transform: translateY(6.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}




/* -- import Bootstrap v3 ----------------------------- */
@import "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css";
/* -- import Bootstrap docs ---------------------------- */
@import "//getbootstrap.com/assets/css/docs.min.css";
/* -- import Roboto Font ------------------------------ */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
/*-- Body style ---------------------------------- */
@import "https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic";
body {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* -- Main style ------------------------------------ */
.btn {
  font-family: "Roboto", 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.87);
}
.btn-default,
.btn-link {
  color: rgba(0, 0, 0, 0.87);
}
/* -- Buttons style ------------------------------------ */
.btn {
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn.active:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* -- Buttons types -------------------------------- */
.btn-raised {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}
.btn-raised:active,
.btn-raised.active,
.btn-raised:active:focus,
.btn-raised.active:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn-raised:focus {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.btn.btn-circle {
  padding: 0;
  border-radius: 50%;
}
/* -- Buttons colors -------------------------------- */
.btn-default,
.dropdown-toggle.btn-default {
  background-color: #fff;
}
.btn-default:hover,
.dropdown-toggle.btn-default:hover {
  background-color: #e5e5e5;
}
.btn-default:active,
.dropdown-toggle.btn-default:active,
.btn-default.active,
.dropdown-toggle.btn-default.active {
  background-color: #e5e5e5;
}
.btn-default:focus,
.dropdown-toggle.btn-default:focus {
  background-color: #cccccc;
}
.btn-default:disabled,
.dropdown-toggle.btn-default:disabled,
.btn-default.disabled,
.dropdown-toggle.btn-default.disabled,
.btn-default[disabled],
.dropdown-toggle.btn-default[disabled] {
  background-color: #b3b3b3;
}
.btn-default .ink,
.dropdown-toggle.btn-default .ink {
  background-color: #b8b8b8;
}
.btn-flat.btn-default {
  color: #212121;
  background-color: transparent;
}
.btn-flat.btn-default:hover {
  color: #141414;
  background-color: #e5e5e5;
}
.btn-flat.btn-default:active,
.btn-flat.btn-default.active {
  color: #020202;
  background-color: #cccccc;
}
.btn-flat.btn-default:focus {
  color: #000;
  background-color: #cccccc;
}
.btn-flat.btn-default .ink {
  background-color: #808080;
}
.btn-primary,
.dropdown-toggle.btn-primary {
  background-color: #5677fc;
}
.btn-primary:hover,
.dropdown-toggle.btn-primary:hover {
  background-color: #4e6cef;
}
.btn-primary:active,
.dropdown-toggle.btn-primary:active,
.btn-primary.active,
.dropdown-toggle.btn-primary.active {
  background-color: #4e6cef;
}
.btn-primary:focus,
.dropdown-toggle.btn-primary:focus {
  background-color: #455ede;
}
.btn-primary:disabled,
.dropdown-toggle.btn-primary:disabled,
.btn-primary.disabled,
.dropdown-toggle.btn-primary.disabled,
.btn-primary[disabled],
.dropdown-toggle.btn-primary[disabled] {
  background-color: #b3b3b3;
}
.btn-primary .ink,
.dropdown-toggle.btn-primary .ink {
  background-color: #3b50ce;
}
.btn-flat.btn-primary {
  color: #5677fc;
  background-color: transparent;
}
.btn-flat.btn-primary:hover {
  color: #4e6cef;
  background-color: #e5e5e5;
}
.btn-flat.btn-primary:active,
.btn-flat.btn-primary.active {
  color: #455ede;
  background-color: #cccccc;
}
.btn-flat.btn-primary:focus {
  color: #3b50ce;
  background-color: #cccccc;
}
.btn-flat.btn-primary .ink {
  background-color: #808080;
}
.btn-success,
.dropdown-toggle.btn-success {
  background-color: #259b24;
}
.btn-success:hover,
.dropdown-toggle.btn-success:hover {
  background-color: #0a8f08;
}
.btn-success:active,
.dropdown-toggle.btn-success:active,
.btn-success.active,
.dropdown-toggle.btn-success.active {
  background-color: #0a8f08;
}
.btn-success:focus,
.dropdown-toggle.btn-success:focus {
  background-color: #0a7e07;
}
.btn-success:disabled,
.dropdown-toggle.btn-success:disabled,
.btn-success.disabled,
.dropdown-toggle.btn-success.disabled,
.btn-success[disabled],
.dropdown-toggle.btn-success[disabled] {
  background-color: #b3b3b3;
}
.btn-success .ink,
.dropdown-toggle.btn-success .ink {
  background-color: #056f00;
}
.btn-flat.btn-success {
  color: #259b24;
  background-color: transparent;
}
.btn-flat.btn-success:hover {
  color: #0a8f08;
  background-color: #e5e5e5;
}
.btn-flat.btn-success:active,
.btn-flat.btn-success.active {
  color: #0a7e07;
  background-color: #cccccc;
}
.btn-flat.btn-success:focus {
  color: #056f00;
  background-color: #cccccc;
}
.btn-flat.btn-success .ink {
  background-color: #808080;
}
.btn-info,
.dropdown-toggle.btn-info {
  background-color: #03a9f4;
}
.btn-info:hover,
.dropdown-toggle.btn-info:hover {
  background-color: #039be5;
}
.btn-info:active,
.dropdown-toggle.btn-info:active,
.btn-info.active,
.dropdown-toggle.btn-info.active {
  background-color: #039be5;
}
.btn-info:focus,
.dropdown-toggle.btn-info:focus {
  background-color: #0288d1;
}
.btn-info:disabled,
.dropdown-toggle.btn-info:disabled,
.btn-info.disabled,
.dropdown-toggle.btn-info.disabled,
.btn-info[disabled],
.dropdown-toggle.btn-info[disabled] {
  background-color: #b3b3b3;
}
.btn-info .ink,
.dropdown-toggle.btn-info .ink {
  background-color: #0277bd;
}
.btn-flat.btn-info {
  color: #03a9f4;
  background-color: transparent;
}
.btn-flat.btn-info:hover {
  color: #039be5;
  background-color: #e5e5e5;
}
.btn-flat.btn-info:active,
.btn-flat.btn-info.active {
  color: #0288d1;
  background-color: #cccccc;
}
.btn-flat.btn-info:focus {
  color: #0277bd;
  background-color: #cccccc;
}
.btn-flat.btn-info .ink {
  background-color: #808080;
}
.btn-warning,
.dropdown-toggle.btn-warning {
  background-color: #ffc107;
}
.btn-warning:hover,
.dropdown-toggle.btn-warning:hover {
  background-color: #ffb300;
}
.btn-warning:active,
.dropdown-toggle.btn-warning:active,
.btn-warning.active,
.dropdown-toggle.btn-warning.active {
  background-color: #ffb300;
}
.btn-warning:focus,
.dropdown-toggle.btn-warning:focus {
  background-color: #ffa000;
}
.btn-warning:disabled,
.dropdown-toggle.btn-warning:disabled,
.btn-warning.disabled,
.dropdown-toggle.btn-warning.disabled,
.btn-warning[disabled],
.dropdown-toggle.btn-warning[disabled] {
  background-color: #b3b3b3;
}
.btn-warning .ink,
.dropdown-toggle.btn-warning .ink {
  background-color: #ff8f00;
}
.btn-flat.btn-warning {
  color: #ffc107;
  background-color: transparent;
}
.btn-flat.btn-warning:hover {
  color: #ffb300;
  background-color: #e5e5e5;
}
.btn-flat.btn-warning:active,
.btn-flat.btn-warning.active {
  color: #ffa000;
  background-color: #cccccc;
}
.btn-flat.btn-warning:focus {
  color: #ff8f00;
  background-color: #cccccc;
}
.btn-flat.btn-warning .ink {
  background-color: #808080;
}
.btn-danger,
.dropdown-toggle.btn-danger {
  background-color: #ff5722;
}
.btn-danger:hover,
.dropdown-toggle.btn-danger:hover {
  background-color: #f4511e;
}
.btn-danger:active,
.dropdown-toggle.btn-danger:active,
.btn-danger.active,
.dropdown-toggle.btn-danger.active {
  background-color: #f4511e;
}
.btn-danger:focus,
.dropdown-toggle.btn-danger:focus {
  background-color: #e64a19;
}
.btn-danger:disabled,
.dropdown-toggle.btn-danger:disabled,
.btn-danger.disabled,
.dropdown-toggle.btn-danger.disabled,
.btn-danger[disabled],
.dropdown-toggle.btn-danger[disabled] {
  background-color: #b3b3b3;
}
.btn-danger .ink,
.dropdown-toggle.btn-danger .ink {
  background-color: #d84315;
}
.btn-flat.btn-danger {
  color: #ff5722;
  background-color: transparent;
}
.btn-flat.btn-danger:hover {
  color: #f4511e;
  background-color: #e5e5e5;
}
.btn-flat.btn-danger:active,
.btn-flat.btn-danger.active {
  color: #e64a19;
  background-color: #cccccc;
}
.btn-flat.btn-danger:focus {
  color: #d84315;
  background-color: #cccccc;
}
.btn-flat.btn-danger .ink {
  background-color: #808080;
}
/* -- Buttons sizes -------------------------------- */
.btn {
  min-width: 88px;
  padding: 10px 14px;
}
.btn-lg,
.btn-group-lg > .btn {
  min-width: 122px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3;
}
.btn-sm,
.btn-group-sm > .btn {
  min-width: 64px;
  padding: 4px 12px;
  font-size: 12px;
  line-height: 1.5;
}
.btn-xs,
.btn-group-xs > .btn {
  min-width: 46px;
  padding: 2px 10px;
  font-size: 10px;
  line-height: 1.5;
}
.btn-circle {
  width: 56px;
  height: 56px;
  min-width: 56px;
}
.btn-circle span {
  line-height: 56px;
}
.btn-circle.btn-lg {
  width: 78px;
  height: 78px;
  min-width: 78px;
}
.btn-circle.btn-lg span {
  line-height: 78px;
}
.btn-circle.btn-sm {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.btn-circle.btn-sm span {
  line-height: 40px;
}
.btn-circle.btn-xs {
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.btn-circle.btn-xs span {
  line-height: 30px;
}
/*-- Button groups --------------------------------- */
.btn-group .btn {
  border-radius: 2px;
}
.btn-group.open .dropdown-toggle {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.btn-group .btn + .btn,
.btn-group .btn + .btn-group,
.btn-group .btn-group + .btn,
.btn-group .btn-group + .btn-group {
  margin-left: 0;
}
.btn-group > .btn:hover,
.btn-group-vertical > .btn:hover {
  z-index: 0;
}
.btn-group > .btn:focus:hover,
.btn-group-vertical > .btn:focus:hover,
.btn-group > .btn:active:hover,
.btn-group-vertical > .btn:active:hover,
.btn-group > .btn.active:hover,
.btn-group-vertical > .btn.active:hover {
  z-index: 2;
}
/* -- Ripple effect -------------------------------- */
.ripple-effect {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  background: #fff;
  opacity: 1;
}
.ink.animate {
  -webkit-animation: ripple .5s linear;
  -moz-animation: ripple .5s linear;
  -ms-animation: ripple .5s linear;
  -o-animation: ripple .5s linear;
  animation: ripple .5s linear;
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-ms-keyframes ripple {
  100% {
    opacity: 0;
    -ms-transform: scale(2.5);
    transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
    transform: scale(2.5);
  }
}
/* -- import Bootstrap v3 --------------------------- */
/* -- import Bootstrap docs ------------------------- */
/* -- import Roboto Font ---------------------------- */
/* -- Body style ------------------------------------ */
/* -- Input styles ---------------------------------- */
.form-group {
  position: relative;
  margin-top: 35px;
  margin-bottom: 20px;
}
.input-group {
  position: relative;
}
.form-control {
  display: block;
  height: 36px;
  width: 100%;
  border: none;
  border-radius: 0 !important;
  font-size: 16px;
  font-weight: 300;
  padding: 0;
  background-color: transparent;
  box-shadow: none;
  border-bottom: 1px solid #757575;
}
.input-group .form-control {
  position: relative;
  z-index: inherit;
  float: inherit;
  width: 100%;
  margin-bottom: 0;
}
.form-control:focus {
  border-color: #757575;
  outline: none;
  box-shadow: none;
}
/* -- label styles ---------------------------------- */
label {
  position: absolute;
  top: -18px;
  color: #999;
  font-size: 12px;
  font-weight: 300;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.form-horizontal .control-label {
  position: relative;
  top: 0;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .form-horizontal .control-label {
    font-size: 16px;
  }
}
.float-label {
  left: 0;
  top: 7px;
  font-size: 16px;
  pointer-events: none;
}
/* active state */
.form-control:focus ~ .float-label,
.form-control:valid ~ .float-label {
  top: -18px;
  font-size: 12px;
}
/* input colors ---- */
.form-control:focus ~ label {
  color: #03a9f4;
}
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
  background: #03a9f4;
}
/* help-block */
.form-group .help-block {
  position: absolute;
}
.help-block {
  color: #bdbdbd;
  font-size: 12px;
  font-weight: 300;
}
/* input addon ---*/
.input-group-addon {
  border: none;
  background: transparent;
}
/* ------  inline ----*/
.input-group-addon,
.form-inline .input-group {
  display: table-cell;
}
.input-group-addon,
.input-group-btn {
  width: inherit;
}
.input-group {
  width: 100%;
}
@media (min-width: 768px) {
  .form-inline .form-group {
    margin-top: 16px;
  }
  .input-group-btn,
  .input-group .form-control,
  .input-group-addon,
  .form-inline .input-group {
    display: inline-block;
  }
  .input-group {
    width: auto;
  }
}
/* -- bar styles -------------------------------------- */
.form-bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-bar:before,
.form-bar:after {
  content: '';
  height: 1px;
  width: 0;
  bottom: 0;
  position: absolute;
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}
.form-bar:before {
  left: 50%;
}
.form-bar:after {
  right: 50%;
}
/* active state */
.form-control:focus ~ .form-bar:before,
.form-control:focus ~ .form-bar:after {
  width: 50%;
}
/* -- highlighter styles ------------------------------ */
.form-highlight {
  position: absolute;
  height: 60%;
  width: 60px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.4;
}
/* active state */
.form-control:focus ~ .form-highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* -- highlighter animation --------------------------- */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/*-- Checkbox --------------------------- */
/* 
 * Core styles required for the checkboxes.
 * @author Jason Mayes 2014, www.jasonmayes.com
*/
.form-group.checkbox {
  margin-top: 20px;
}
.checkbox input[type='checkbox'] {
  height: 0;
  width: 0;
  opacity: 0;
}
.checkbox label {
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 10px;
  padding-left: 0;
}
.checkbox .chk-span {
  top: 0;
  border: 1px solid #5a5a5a;
  color: #1d1d1d;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 14px;
  margin: 0 14px 14px 1px;
  outline-color: #eaeaea;
  padding: 0;
  position: relative;
  width: 14px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}
.checkbox .chk-span.checked {
  top: -2px;
  border-left: 2px solid #03a9f4;
  border-bottom: 4px solid #03a9f4;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
  -webkit-transform: rotate(-45deg) scaleY(0.5);
  -moz-transform: rotate(-45deg) scaleY(0.5);
  -ms-transform: rotate(-45deg) scaleY(0.5);
  -o-transform: rotate(-45deg) scaleY(0.5);
  transform: rotate(-45deg) scaleY(0.5);
}
.checkbox .chk-span.checked {
  border-left-color: #03a9f4;
  border-bottom-color: #03a9f4;
}
.checkbox input[type='checkbox']:focus ~ label {
  color: #03a9f4;
}
.checkbox input[type='checkbox']:focus ~ label .chk-span {
  border-color: #03a9f4;
}
.checkbox input[type='checkbox']:focus ~ label .chk-span.checked {
  border-left-color: #03a9f4;
  border-bottom-color: #03a9f4;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-right: 1px solid rgba(0, 0, 0, 0);
}
@media (min-width: 768px) {
  .form-inline .radio label,
  .form-inline .checkbox label {
    padding-left: 5px;
  }
}
.form-control-static {
  font-size: 16px;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  background-color: transparent;
  border-bottom-style: dashed;
}
#focusedInput {
  border-color: #ccc;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: none;
}
