{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron" style="margin-top: 2%;">
	<p class="lead">This Website is made for the prupose of DBMS project. The main im was to develop an interactive webapp or a mobile app fpr Human Resource Management.</p>
	<h3>Porject Members:</h3>
	<ul>
	<li>Luv (IIT201685)</li>
	<li>Pranav Mahajan (IIT2016086)</li>
	<li>Madhur Gupta (IIT2016083) </li>
	</ul>

	<h3>Porject Evaluators:</h3>
	<ul>
	<li>Mr. Raghav</li>
	<li>Mr. Abhijeet</li>
	</ul>

 </div>
{% endblock %}