{% extends 'layout.html' %}

{% block body %}

	
	{% from "includes/_formhelpers.html" import render_field %}
    <div class="jumbotron" style="margin-top:2%;">
    	<h1 align="center"> Add Employee </h1>
	    <form method="POST" action="" enctype="multipart/form-data">
	        <div class="form-group">
	            {{ render_field(form.name, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.gender, class="form-control") }}
	        </div>
	        <div>
        		<label for="from" style="font-size: 20px;">Date of Birth</label>
         		<input type="date" class="form-control" name="dob" max="3000-12-31" min="1000-01-01" placeholder='From' style="width:100%;">
	        </div>
	        <div class="form-group">
	            {{ render_field(form.email, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.department, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.designation, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.address, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.city, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.state, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.pincode, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.contact, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.password, class="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.confirm, class="form-control") }}
	        </div>

	        <div>
	        	<label for="profile_image">Profile Image</label></br>
	            <input type="file" name="profile_image">
	        </div>
	        <p align =center></br><input type="submit" class="btn btn-primary" value="Submit"></p>
	    </form>
	</div>


{% endblock %}