{% extends 'layout.html' %}

{% block body %}

	
	{% from "includes/_formhelpers.html" import render_field %}
    <div style="margin-top:8%;">
    	<h1 align="center"> Add Employee </h1>
	    <form method="POST" action="" enctype="multipart/form-data">
	        <div class="form-group">
	            {{ render_field(form.name, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.gender, class_="form-control") }}
	        </div>
	        <div class="form-group">
        		<label  for="dob">Date of Birth</label>
         		<input type="date" class="form-control"  id ="dob" name="dob" max="3000-12-31" min="1000-01-01"  style="width:100%;">
	        </div>
	        <div class="form-group">
	            {{ render_field(form.email, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.department, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.designation, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.address, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.city, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.state, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.nationality, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.pincode, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.contact, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.password, class_="form-control") }}
	        </div>
	        <div class="form-group">
	            {{ render_field(form.confirm, class_="form-control") }}
	        </div>

	        <div>
	        	<label for="profile_image">Profile Image</label></br>
	            <input type="file" name="profile_image">
	        </div>
	        <p align =center></br><input type="submit" class="btn btn-primary" value="Submit"></p>
	    </form>
	</div>


{% endblock %}