{% extends 'layout.html' %}

{% block body %}

{% from "includes/_formhelpers.html" import render_field %}
<div class="container">
<div class='gwrap' style="margin-top:8%;">
  	<div style="font-size:62px;">Change Password</div>

    <form method="POST" action="">
      <div>
          {{ render_field(form.old_password, class="glogininput form-control") }}
      </div>

      <div>
          {{ render_field(form.new_password, class="glogininput form-control") }}
      </div>

      <div>
          {{ render_field(form.confirm_newpassword, class="glogininput form-control") }}
      </div>
    	<button type="submit" class="attendancebtn">Reset</button>
    </form>
</div></div>

{% endblock %}
