{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center" style="margin-top: 2%; font-family:'Karla';">
      <h1 align=left><b>Dashboard</b></h1></br>
      <img class="rounded-circle" src="/static/images/{{session.emp_id}}.jpg" height="200px">
      <h3>Welcome {{session.name}}</h3>

</div>

<div class= "jumbotron">
	<div>
		<h3 align=left>Attendance</h3>
		<form method="POST" action="">
			<div>
				<label for="from" style="font-size: 20px;">From</label>
		 		<input type="date" class="form-control" name="from" max="3000-12-31" min="1000-01-01" placeholder='From' style="width:400px;">
				<label for="from" style="font-size: 20px;">To</label>
		 		<input type="date" class="form-control" name="to" max="3000-12-31" min="1000-01-01" placeholder='to' style="width:400px;">
				<button type="submit" class='attendancebtn' name="btn" value="attendance">Get Info</button>
			</div>
	</div>
</div>
<div class= "jumbotron">
	<div>
		<h3 align=left>Incentive</h3>
		<form method="POST" action="" id="incentive">
			<div>
				<label for="from" style="font-size: 20px;">From</label>
		 		<input type="date" class="form-control" name="fromm" max="3000-12-31" min="1000-01-01" placeholder='From' style="width:400px;">
				<label for="from" style="font-size: 20px;">To</label>
		 		<input type="date" class="form-control" name="too" max="3000-12-31" min="1000-01-01" placeholder='to' style="width:400px;">
				<button type="submit" class='attendancebtn' name="btn" value="incentive">Get Info</button>
			</div>
	</div>
</div>
    
{% endblock %}