{% extends 'layout.html' %}

{% block body %}
<div style="margin-top:8%;">
<div class='hcol1 jumbotron' style="width:500px;text-align:center;margin:auto;">
  	<p align =center style="font-size:62px;">Add Incentive</p>
	<form method="POST" action="">
		<div class='form-group'>
			<input class="form-control" id="emp_id" name="emp_id" required="" type="text" value="">
		    <span class="form-highlight"></span>
		    <span class="form-bar"></span>
		    <label class="float-label" for="emp_id">Employee Id</label>
		</div>
		<div class='form-group'>
			<input class="form-control" id="hours" name="hours" required="" type="text" value="">
		    <span class="form-highlight"></span>
		    <span class="form-bar"></span>
		    <label class="float-label" for="hours">Extra hours worked</label>
		</div>
		<div class=form-group>
		<button type="submit" class='btn btn-info'>Add Incentive</button>
		</div>
	</form>
</div>
</div>
{% endblock %}