py
{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron text-center" style="margin-top: 8%; font-family:'Karla';">
      <h1 align=left><b>Your profile</b></h1></br>
      <img class="rounded-circle" src="/static/images/{{employee.id}}.jpg" height="200px">
      <h3>{{employee.name}}</h3>
      <h4>{{employee.designation}}, {{employee.department}}</h4>
      {% if session.emp_id==employee.id %}
        <button type="button" class="btn btn-info" name="btn" value="edit_profile" onclick="window.open('/edit_profile/{{employee.id}}', '_top');">Edit Profile</button>
        <button type="button" class="btn btn-info" name="btn" value="change_password" onclick="window.open('/change_password', '_top');">Change Password</button>
      {% endif %}

</div>

<div class= "jumbotron">
	<h3 align=left style="font-size = 50px; font-family = 'Karla'"><b>Personal Information</b></h3>
<br>
  <h5 align=left id="gendervar" data-gendervar = "{{employee.gender}}" ></h5>
  <h5 align=left><b>Birthday : {{employee.dob}}</b></h5>
  <h5 align=left><b>Nationality : {{employee.gender}}</b></h5>
</div>

<div class= "jumbotron">
	<h3 align=left><b>Contact Details</b></h3>
<br>
  <h5 align=left><b>Mobile Number : {{employee.contact}}</b></h5>
  <h5 align=left><b>E-mail : {{employee.email}}</b></h5>
  <h5 align=left><b>Location : {{employee.address}}</b></h5>
  <h5 align=left><b>City : {{employee.city}}</b></h5>
  <h5 align=left><b>State : {{employee.state}}</b></h5>
  <h5 align=left><b>Pincode : {{employee.pincode}}</b></h5>
</div>


<script>


$(document).ready(function(){
  var gendervar = document.getElementById("gendervar").dataset.gendervar;
  gendervar = gendervar.charAt(0).toUpperCase() + gendervar.slice(1);
  document.getElementById("gendervar").innerHTML = '<b>Gender :  '+gendervar+'</b>'
});

</script>
{% endblock %}
