{% extends 'layout.html' %}

{% block body %}

<div class='wrap'>
  	Add Admin
    <form method="POST" action="">
        <input type='text' name='emp_id' placeholder='Employee Id' value={{request.form.emp_id}}>
        <input type='password' name='password' placeholder='Password' value={{request.form.password}}>
        <input type='password' name='confirm' placeholder='Confirm Password' value={{request.form.confirm}}>
    	<button type="submit" class='login'>Register</button>
    </form>
</div>

{% endblock %}