{% extends 'layout.html' %}

{% block body %}
<div class="gwrap" style="margin-top: 2%;">
	Calculate Salary
	<form method="POST" action="">
		<div>
			<input type='text' class="glogininput" name='emp_id' placeholder='Employee Id'>
		</div>
		<div>
			<label for="from" style="font-size: 20px;">From</label>
	 		<input type="date" class="glogininput" name="from" max="3000-12-31" min="1000-01-01" placeholder='From'>
		</div>
		<div>
			<label for="from" style="font-size: 20px;">To</label>
	 		<input type="date" class="glogininput" name="to" max="3000-12-31" min="1000-01-01" placeholder='to'>
		</div>
		<div>	
			<button type="submit" class='attendancebtn'>Calculate</button>
		</div>
	</form>
</div>
{% endblock %}