{% extends 'layout.html' %}

{% block body %}
	<div class="container" style ="margin-top: 8%;">
		<h3>Filters</h3>
		</br>
		<form id="formId" method="POST" action="">
			<div class="form-grp">
				<div class="row">
					<div class="col-md-6">
						<label class="label--checkbox">
							<input type="checkbox" class="checkbox" name="cdepartment">
						</label>
						<select id="department" class="custom-select" name="department" style="width:400px;">
							<option selected>Select Department</option>
							{% for dept in depts %}
								<option value="{{dept}}">{{dept}}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col-md-6">
						<label class="label--checkbox">
							<input type="checkbox" class="checkbox" name="cdesignation">
						</label>
						<select id="designation" class="custom-select" name="designation" style="width:400px;">
							<option selected>Select Designation</option>
							{% for desig in desigs %}
								<option value="{{desig}}">{{desig}}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="row row2">
					<div class="col-md-6">
						<div class="range-slider">
							<label class="label--checkbox">
								<input type="checkbox" class="checkbox" name="cage">
							</label>
							Age
							<input class="range-slider__range" name="age" type="range" value="20" min="1" max="70" style = "width: 300px;">
							<span class="range-slider__value">0</span>
						</div>
					</div>
					<div class="col-md-6">
						<label class="label--checkbox">
							<input type="checkbox" class="checkbox" name="cgender">
						</label>
						<select id="designation" class="custom-select" name="gender" style="width:400px;">
						<option selected>Gender</option>
						<option value="male">male</option>
						<option value="female">female</option>
						<option value="other">other</option>		  
						</select>
					</div>
				</div>
			
				<div class="row">
					<div class="col-1 ">
						<label class="label--checkbox">
							<input type="checkbox" name="ccity" class="checkbox">
						</label>
					</div>
					<div class="col col1">
						<input class="form-control" type="text" name="city" placeholder="City" style="width:400px;">
					</div>
					<div class="col-1 ">
						<label class="label--checkbox">
							<input type="checkbox" name="cstate" class="checkbox">
						</label>
					</div>
					<div class="col col1">
						<input class="form-control" name="state" type="text" value="" placeholder="State" style="width:400px;">
					</div>
				 </div>
			</div>
			<button type="submit" class="btn btn-info">Search</button>
		</form>
	</div>

	<table class="table table-striped" style="margin-top: 2%;">
		<tr>
			<th>Employee ID</th>
			<th>Name</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
 		{% for employee in employees %}
			<tr>
				<th>{{employee.id}}</th>
				<th>{{employee.name}}</th>
				<th><a href="/profile/{{employee.id}}" class="btn btn-info">View</a></th>
				{% if employee.admin %}
					<th><button class="btn btn-danger remove pull-right" id="{{employee.id}}">Remove admin</button></th>
				{% else %}
					<th><button class="admin btn btn-danger pull-right" id="{{employee.id}}">Make admin</button></th>
				{% endif %}
				<th><th><button class="del btn btn-danger pull-right" id="{{employee.id}}">Delete</button></th>
			</tr>
		{% endfor %}
 
	</table>



	<script type="text/javascript">
		$('.del').on('click', function(){
			var self = $(this)[0];
			$.ajax({
				url: "/delete/"+$(this)[0].id,
				method: 'GET',
				dataType: "json",
				success(data) {
					location.reload();
				}
			});
		});
		$('.admin').on('click', function(){
			var self = $(this)[0];
			$.ajax({
				url: "/make_admin/"+$(this)[0].id,
				method: 'GET',
				dataType: "json",
				success(data) {
					$("#"+self.id).addClass('remove');
					$("#"+self.id).html("remove Admin");
					location.reload();
				}
			});
		});

		$('.remove').on('click', function(){
			var self = $(this)[0];
			$.ajax({
				url: "/remove_admin/"+$(this)[0].id,
				method: 'GET',
				dataType: "json",
				success(data) {
					console.log($(this));
					$("#"+self.id).removeClass('remove');
					$("#"+self.id).html("Make Admin");
					location.reload();
				}

			});
		});
		
			$('.your-checkbox').prop('indeterminate', true)
			var rangeSlider = function(){
				var slider = $('.range-slider'),
				range = $('.range-slider__range'),
				value = $('.range-slider__value');
				slider.each(function(){
					value.each(function(){
						var value = $(this).prev().attr('value');
						$(this).html(value);
					});

				range.on('input', function(){
					$(this).next(value).html(this.value);
				});
			});
		};

		rangeSlider();	
	</script>
{% endblock %}